.DS_Store
*.iml
*/*.iml
*/**/*.iml
jiveHome
venv
target
.idea
.idea/.name
.idea/workspace.xml
.idea/tasks.xml
.idea/encodings.xml
.idea/modules.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Serializable.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/uiDesigner.xml
.idea/libraries/Maven__*
.idea/artifacts
atlassian-ide-plugin.xml
jive_private_key.txt
.project
.classpath
.settings
application.ipr
application.iws
**/scripts/gen/*
plugins/extendedApis/src/main/plugin/extensions/box_esp.zip
plugins/extendedApis/src/main/plugin/extensions/sp_esp.zip
plugins/extendedApis/src/main/plugin/extensions/sp_v5_esp.zip
run-cache/config/.temp
run-cache/config/.version
run-cache/var/**
jacoco.exec
